:root {
	color-scheme: light dark;
}

#root {
	font-family: sans-serif;
	display: grid;
	grid-template-columns: 1fr 5fr;
	gap: 16px;
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 8px;
}

.row {
	display: flex;
	margin: 8px;
}

.box {
	border: 1px solid;
}

.field {
	margin-bottom: 16px;
}

.field.horizontal {
	display: flex;
	align-items: center;
}
